@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');
 
 body {
    background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     font-family: 'Nunito', sans-serif !important;
     font-weight: 200 !important;
     height: 100vh !important;
     margin: 0 !important;
}
 .full-height {
     margin-top: 200px !important;
     height: 20vh !important;
}
 .flex-left {
     align-items: left !important;
     display: flex !important;
     justify-content: left !important;
}
 .top-right {
     position: absolute !important;
     right: 10px !important;
     top: 18px !important;
}
 .content {
     text-align: center !important;
     display: flex !important;
     flex-direction: column !important;
}
 .title {
     font-size: 84px !important;
}
 .links > .mytags{
     margin-bottom: 2px;
     color:white !important;
     font-size: 1.8em !important;
     border-color: none !important;
     margin-bottom:1px !important;
}
 .m-b-md {
     margin-bottom: 30px !important;
}
 .links{
     display: flex !important;
     justify-content: left !important;
     flex-direction: column !important;
}
 i:hover{
     align-items: center !important;
     transform: translateY(-2px) !important;
     box-shadow: rgb(0, 0, 0) 0px 8px 15px -10px !important;
     transition: transform box-shadow 0.2s ease !important;
     cursor:pointer !important;
}
 .menu{
     height: 85.2px;
     width: 88.35px;
     justify-content: center !important;
     align-content: center !important;
    
     padding:30px 30px 30px 30px !important;
     border-radius: 10% !important;
     margin-bottom: 5px;
}
.menu-home{
      background-color: darkred !important;
    
}
.menu-home:hover{
      background-color: #e92020 !important;
}
 .menu-categories{
     background-color: darkgreen !important;
     
}
.menu-categories:hover{
     background-color: #069206 !important;
}
.menu-login{

      background-color: green !important;
   

}
 .menu-posts{
     background-color: #9999ff !important;
   
}
.menu-posts:hover{

     background-color: #5959f6 !important;
}
 .menu-tags{
     background-color: #007399 !important;
}
.menu-tags:hover{
     background-color: #00baf8 !important;
}
 .menu-users {
     background-color: #ffcc00 !important;
}
.menu-users:hover{
     background-color: #f0ed0e !important;
}
 .menu-profile{
     background-color: #e67300 !important;
}
.menu-profile:hover{
     background-color: #ff8205 !important;
}
 .menu-trash{
     background-color: #669900 !important;
}
.menu-trash:hover{
     background-color: #7ebb05 !important;
}

.menu-settings{
      background-color: #018296 !important;
}
.menu-settings:hover{
      background-color: #05b8d4 !important;
}
 .menu-manager{
     background-color: #33409a !important;
}
.menu-manager:hover{
     background-color: #1733f3 !important;
}
 .links{
     margin-bottom: 20px;
     text-align: center !important;
}
 .links-col{
     justify-content: center !important;
     display: flex !important;
     flex-direction: column !important;
}
 .mytag{
     justify-content: center !important;
     border-color: none !important;
     align-items: center !important;
}
 .myspan{
     font-family: 'Cabin Condensed', sans-serif;
     color:white;

     font-size: 1.0em;
     justify-content: center !important;
     border:none !important;
     box-shadow: none !important;
}
 .content-row{
     letter-spacing: 1px;
     display: flex !important;
     justify-content: center !important;
}
 .child-main{
     display: flex !important;
     flex-wrap: wrap !important;
     width: 850px !important;
     justify-content: space-between !important;
     margin:0 auto !important;
}

