
a
{
	text-decoration:none !important;
	
	margin-bottom: 10px !important;

}
.center-heading
{
	text-align: center;
}
.center-body
{
	text-align: center;
}

.main-body{

    text-align: center;
    font-size: 1.5em;
    /* border-color: #ffcc00 !important; */
    background-color: #8eb4cb !important;
}

.menu-items{
	

	color:black;
	font-weight: bold;
	margin-bottom: 3px !important;
	border-color: #ffcc00 !important;
	background-color: #ffcc00 !important;

	box-shadow: 1px 1px 2px 3px darkgrey;
}

.menu-items:hover{
	-webkit-box-shadow: 2px 3px 51px 0px rgba(0,0,0,0.98);
	-moz-box-shadow: 2px 3px 51px 0px rgba(0,0,0,0.98);
	box-shadow: 2px 3px 51px 0px rgba(0,0,0,0.98);
	transition: box-shadow 0.2s ease-in;
	cursor:pointer;
	color:red;
}
.menu-items a{
	color:black !important;

}
.menu-items:hover span{
	
	animation: jiggle 0.5s ease-in infinite;
  	transition-delay:0s;
	
}


a:hover .move{
	animation: move 1s linear infinite !important;
	padding-right: 50px;
	text-decoration: none !important;
	color: red;
}
.pointer{
	cursor: pointer;

}
.pointer:hover{
	color:red !important;
}

.main-menu-items{

	width: 100% !important;
	border:1px solid black;
	text-align: left;
	font-size: 1em;

	border:none;
}

.menu-items:hover{
	animation: menuitems_keyframe 0.5s linear;
}

.menu-items a:hover{


	
	color:red !important;
	font-weight: bold;
	
	transition: color font-weight 0.2s ease-out;

}
a:hover span{

	animation: jiggle 0.5s ease-in infinite;
	
  	transition-delay:0s; 

}
.no-effect{

	animation: none !important;
	margin-right: 10px;

}
.no-effect:hover{
	color:red !important;
}

a:hover .edit{
	animation: edit 0.5s ease-in infinite;
}
@keyframes jiggle {
	0%{
			
	}
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

@keyframes edit{
	0%{
		transform: translateX(-5px)
	}
	10%, 20% {
    transform: translateX(-3px) 
  }
  30% {
    transform: translate(0px) 
  }
  56% {
    transform:  translate(3px,1px)
  }
  70% {
    transform:  translateX(6px)

  }

  80%{
  	transform: translateX(4px)
  }
  100%{
  	transform: translateX(-5px)
  }
}

@keyframes menuitems_keyframe{
	0%{
		transform: translateX(0px);
	}
	10%{
		transform: translateX(5px);
	}
	20%{
		transform: translateX(8px);
	}
	30%{
		transform: translateX(9px);
	}
}

@keyframes move{

	0%{
		transform:translateX(-10%);

	}
	20%{
		transform: translateX(30%);
	}
	40%{

		transform: translateX(60%);

	}
	60%{
		transform:translateX(90%);

	}
	80%{
		transform: translateX(120%);
	}
	100%{

		transform: translateX(150%);

	}
}
