body{
	background-color: white !important;
}
a
{
	text-decoration:none !important;

}
.center-heading
{
	text-align: center;
}
.center-body
{
	text-align: center;
}

.main-body{

	text-align: center;
	font-size: 1.5em;
	border-color: #ffcc00 !important;
	background-color: #ffcc00 !important;
}

.menu-items{
	

	color:black;
	font-weight: bold;
	margin-bottom: 3px !important;
	border-color: #ffcc00 !important;
	background-color: #ffcc00 !important;

	box-shadow: 1px 1px 2px 3px darkgrey;
}

.menu-items:hover{
	-webkit-box-shadow: 2px 3px 51px 0px rgba(0,0,0,0.98);
	-moz-box-shadow: 2px 3px 51px 0px rgba(0,0,0,0.98);
	box-shadow: 2px 3px 51px 0px rgba(0,0,0,0.98);
	transition: box-shadow 0.2s ease-in;
	cursor:pointer;
	color:red;
}
.menu-items a{
	color:black !important;

}
.menu-items:hover span{
	
	animation: jiggle 0.5s ease-in infinite;
  	transition-delay:0s;
	
}



.main-menu-items{

	width: 100% !important;
	border:1px solid black;
	text-align: left;
	font-size: 1em;
	border:none;
}

.menu-items a:hover{
	
	color:red !important;
	font-weight: bold;
	
	transition: color font-weight 0.2s ease-out;

}
td:hover span{

	animation: jiggle 0.5s ease-in infinite;
  	transition-delay:0s; 

}
@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}
